<h1>Skills#show</h1>
<p>Find me in app/views/skills/show.html.erb</p>

<h1><%= @skill.language %></h1>

  <% if @skill.projects.any? %>
    <h4>Here are the projects for this skill:</h4>


    <ul class="ch-grid">
    <% @skill.projects.each do |project| %>
          <li>
            <div class="ch-item jina-project-<%= project.id %>">
            <style media="screen">
            .jina-project-<%= project.id %> {
              background-image: url(<%= project.image %>);
              background-size: cover;
              visibility: visible;
            }
          </style>
            <div class="ch-info">
              <h3><%= link_to project.project_name, skill_project_path(@skill, project) %></h3>
            </div>
            </div>
            <% if user_signed_in?%>
                <%= link_to "Edit", edit_skill_project_path(@skill, project) %> |
                <%= link_to "Delete", skill_project_path(@skill, project), :data => {:confirm => "Are you sure?",:method => "delete"} %>
            <% end %>
            </li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no projects yet!</p>
  <% end %>


  <% if user_signed_in? %>
    <p><%= link_to "Add a project", new_skill_project_path(@skill) %></p>
    <p><%= link_to "Delete skill", skill_path(@skill),
                            :data => {:confirm => "Are you sure?",
                                           :method => "delete"} %></p>
  <% end %>

  <p><%= link_to "Return to skill", skills_path %></p>
