<!DOCTYPE html>
<html>
  <head>
    <title>PersonalPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://use.fontawesome.com/59c76c05a4.js"></script>
  </head>

  <body>
    <div class="container">
      <%=link_to "Sign up", new_user_registration_path%>
      <%=link_to "Sign in", new_user_session_path%>
      <%= link_to 'log out', destroy_user_session_path, method: :delete %>

      <%= render 'layouts/navigation'%>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <!-- footer -->
    <div id="footer">
			<a href="http://twitter.com/" class="icon-button twitter"><i class="ion-social-twitter"></i><span></span></a>
			<a href="http://facebook.com" class="icon-button facebook"><i class="ion-social-facebook"></i><span></span></a>
			<a href="http://plus.google.com" class="icon-button google-plus"><i class="ion-social-googleplus"></i><span></span></a>
			<h3>Contact Me:</h3>
				<h4><span class="glyphicon glyphicon-envelope"></span> EMAIL: peterkahurani@gmail.com</h4>
				<h4><span class="glyphicon glyphicon-earphone"></span> CALL: +254 706 555 585</h4>
		</div>
    <br>
    <!-- <span class="blink_me" style="color:green; font-size: 50px; text-align:center;">.Accepting projects</span> -->
    <i class="fa fa-plus-square blink_me" aria-hidden="true">Accepting projects</i>
		<div class="footnote">
      <h5> &#169; Kahurani 2017</h5>
		</div>
  </body>
</html>
