<!DOCTYPE html>
<html>
    <head>
        <title>PersonalPortfolio</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <script src="https://use.fontawesome.com/59c76c05a4.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="container-fluid">

            <!-- beginning of navbar -->
            <%= render("/layouts/navigation")%>

            <%= flash[:notice]%>

            <%= flash[:alert]%>

            <!-- content -->
            <%= yield %>
            <div class="text-center" style="background-color:black; padding:50px; font-size:50px;">
                <i class="fa fa-plus-square blink_me" aria-hidden="true">Accepting projects</i>
            </div>
            <a href="#" class="fa fa-github"></a>

            <!-- footer -->
            <div id="footer">
                <i><a href="#" class="fa fa-github fa-4x"></a></i>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-facebook"></a>
                <h3>Contact Me:</h3>
                <h4>
                    <span class="glyphicon glyphicon-envelope"></span>
                    EMAIL: peterkahurani@gmail.com</h4>
                <h4>
                    <span class="glyphicon glyphicon-earphone"></span>
                    CALL: +254 706 555 585</h4>

            </div>
            <div class="footnote">
                <h5>
                    &#169; Kahurani 2017</h5>
            </div>
        </div>
    </body>
</html>
